.App {
  margin: 1.5rem;
  padding: 1.5rem;
  font-size: 1.1rem;
}

.App--cont {
  display: flex;
  padding: 1rem;
  width: 450px;
  align-items: center;
  border: 4px solid black;
  border-radius: 25px;
  background-color: rgb(221, 239, 241);
}

.App--cont--list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.App--cont--list li{
  margin: .5rem;
}

.App--cont--list li span{
  font-weight: bold;
}

.Card--cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.link--item {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  transition: .2s ease-in;
}

.link--item:hover {
  color: rgb(189, 225, 230);
  transition: .2s ease-in;
}